.checkout p {
  margin: 0;
}
.cart-image {
  width: 100px;
}
.cart-product {
  display: flex;
}

table {
  width: 80vw;
}
.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.cart {
  border: 1px solid #707070;
  padding: 20px 50px;
}

.cart-headers {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  text-align: start;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
}
.cart-unit {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  align-items: center;
}
.cart-header-product {
  grid-column: 1/3;
}
.cart-header-price {
  grid-column: 3/4;
}
.cart-header-quantity {
  grid-column: 4/5;
}

.cart-product {
  grid-column: 1/3;
}
.cart-price {
  grid-column: 3/4;
}
.cart-quantity {
  grid-column: 4/5;
}

.cart-quantity input {
  width: 1.5em;
}
.crement {
  padding: 5px;
  width: 30px;
  margin: 0px;
}

.cart-remove img {
  width: 20px;
}
.cart-remove {
  width: 70px;
  padding: 5px 10px;
}
